.field {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 5px;
  top: 5px;
  height: 75%;
  width: 210px;
}

.column {
  margin-bottom: 10px;
  padding: 5px;
}

.selectPref {
  background-color: white;
  width: 170px;
  height: 80px;
  margin-left: 20px;
  overflow: scroll;
}

.prefCheckbox {
  font-size: 12px;
}

.columnTitle {
  display: inline-block;
  _display: inline;
}

.checkIsDisplaying{
  font-size: 13px;
}
